*{
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 1024px){
  html{
      position: relative; 
      width: 375px; 
      height: 100%; margin: 0 auto; background: #ccc;
      font-size: 37.5px !important;
  }
  
}